In [1]:
import requests
import pandas as pd

In [3]:
url = "https://archive-api.open-meteo.com/v1/archive"

params = {
    "latitude": 40.7128,
    "longitude": -74.0060,
    "start_date": "2023-01-01",
    "end_date": "2023-01-10",
    "daily": "temperature_2m_max,temperature_2m_min",
    "timezone": "America/New_York"
}

In [4]:
response = requests.get(url, params=params)

response.status_code

200

In [5]:
data = response.json()
data.keys()

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'daily_units', 'daily'])

In [6]:
df = pd.DataFrame({
    "date": data["daily"]["time"],
    "temp_max": data["daily"]["temperature_2m_max"],
    "temp_min": data["daily"]["temperature_2m_min"]
})

df.head()

         date  temp_max  temp_min
0  2023-01-01      11.9       4.9
1  2023-01-02      12.9       4.6
2  2023-01-03      12.9       6.3
3  2023-01-04      18.0       9.6
4  2023-01-05      13.1       7.4

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      10 non-null     object
 1   temp_max  10 non-null     float64
 2   temp_min  10 non-null     float64
dtypes: float64(2), object(1)
memory usage: 272.0+ bytes